.bottom-bar {
  display: none;
}

@media (max-width:614px) {
  .bottom-bar {
    width: 100%;
    padding: 0.5rem 0.75rem;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
  }

  .bottom-bar ion-icon {
    font-size: 25px;
  }
}